PORT=8000
AI_MONGO_URI=mongodb+srv://user:pass@cluster0.mongodb.net/subscription_db?retryWrites=true&w=majority
MONGO_URI=mongodb+srv://user:pass@cluster0.mongodb.net/subscription_db?retryWrites=true&w=majority
